/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  /*background-image: url("images/NordNight.jpeg"); */
  background-color: #4C566A;
  color: white;
  font-family: monospace;
}


.container {
  background: #353b47;
  width: 1000px;
  margin:10px auto 10px auto;
  padding:10px;
  padding-top:1px;
  border:4px solid 24px;
  color: white;
  font-size: 12px;
  }
  

.button {
  border: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

h1 {
  color: #88C0D0;
  font-size: 24px;
}

h2 {
  color: #88C0D0;
  font-size: 22px;
}

h3 {
  color: #88C0D0;
  font-size: 20px;
}
h4 {
  color: #88C0D0;
  font-size: 18px;
}
h5 {
  color: #88C0D0;
  font-size: 16px;
}

h6 {
  color: #88C0D0;
  font-size: 14px;
}
a:active {
    color: lightgray;
}
a:visited {
    color: gray;
}

@media (min-width: 55em) {
.stuff { display: inline-block; 
    vertical-align: top; 
    font-size: 12px;
    background: #353b47;
	padding-right: 10px;
	padding-left: 10px;
}
